/*****************************
Note: ID = #, className = .
******************************/

.customer-loinnerbox h4 {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.customer-upinnerbox h2 {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.customerResult {
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
}

.customer-upinnerbox #address,
#postcode,
#city,
#state,
#phoneNo,
#custUser,
#totalPlants {
  color: black;
  text-align: center;
  font-size: 20px;
}

.customer-upinnerbox,
.customer-loinnerbox {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1em;
  border-radius: 1em;
}

/*
#customer-heading {
  font-weight: bold;
}

.table-responsive td:nth-child(odd) {
  background-color: #ccffcc;
}

.table-responsive td:nth-child(even) {
  background-color: #ccffe5;
}

.table-responsive td {
  color: black;
  // border: #C0C0C0;
  // border-style: solid;
  // border-width: 1px;
}

.table-responsive th {
  color: black;
  text-align: center;
  background-color: #78c2ad;
  // border: #C0C0C0;
  // border-style: solid;
  // border-width: 1px;
}

.table-responsive {
  border-radius: 3em;
}

.customer-outerbox {
  background-color: #78c2ad;
  padding: 1em;
}

.customer-upinnerbox {
  background-color: #ccffcc;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1em;
  border-radius: 1em;
}

.customer-upinnerbox h2 {
  color: black;
  font-weight: bold;
  text-align: center;
}

.customer-loinnerbox {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1em;
  border-radius: 1em;
}

.customer-loinnerbox h4 {
  color: black;
  font-weight: bold;
  text-align: center;
}

.customer-upinnerbox #address,
#postcode,
#city,
#state,
#phoneNo,
#custUser {
  color: black;
  text-align: center;
  font-size: 20px;
  // padding: 5em;
}

.customerResult{
    font-weight: normal;
    font-size: 20px;
}
*/
